
{% extends "ErpProject/ModuleSupport/shared/layout.html" %}
{% block page %} {% load humanize %} {% load static %} {% load account_filters %}
{% if not isPopup %}
<div class="row">
    <ul class="breadcrumb">
        <li><a href="{% url 'backoffice_index' %}"><span class="mif-home"></span></a></li>
        <li><a class="leaf chargement-au-click" href="{% url 'module_support_index' %}">Module Support</a></li>
        <li>{{ title }}</li>
    </ul>
</div>
{% endif %}

<div class="row"  style="padding-top: 10px;">
    <div class="col-lg-12">
        <h2>{{ title }}</h2>        
        <strong style="float: right;color: grey;opacity: 0.4;margin-top: -30px;">{% now "jS F Y H:i" %}</strong>
        <div class="separ" style="background-color: grey;opacity: 0.2"></div>
        <div class="panel panel-default" style="border: none;">
            <div class="panel panel-body" style="background-color:#f5f5f5;border: none;border-radius: none;">  
                {% if not isPopup %}         
                <div class="row">
                    {% if user_actions.can_create is True %} 
                    <div class="col-md-3 col-xs-12">
                        <button onclick="javascript:window.location.assign('{% url 'module_support_add_log' %}')" class="theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}}" style="width: 100%;">
                            Créer 
                        </button>
                    </div>
                    {% endif %}
                    <div class="col-md-3 col-xs-12">
                        <div id="btn-view" data-role="group" data-group-type="one-state">
                            <button id="btn-tree" class="button btn-typeview btn-secondary {% if view == "list" %}{{ "active" }}{% endif %}"><span class="mif-list"></span></button>
                            <button id="btn-kanban" class="button btn-typeview btn-secondary {% if view == "kanban" %}{{ "active" }}{% endif %}"><span class="mif-apps"></span></button>
                        </div>
                    </div>
                </div><br> 
                            
                <hr class="hr-ligne">
                {% endif %}
                <!-- Appel de la fonction message -->           
                {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}<br>

                <div id="datalist" class="row" style="">
                    <!-- Vue de type list -->
                    <div id="list-view" class="row" style="margin-top: 10px;overflow: auto; position: relative; display: inline-block;">        
                        <table id="data_table" class="display nowrap border bordered striped" cellspacing="0" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="width: 20px; background-color:#2e416a; white"></th>
                                    <th>Erreur</th>
                                    <th>Modele</th>
                                    <th>Date de création</th>
                                    <th>Créé par</th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                                {% for item in model %}
                                <tr>
                                    <td>
                                        <label class="small-check">
                                            <input type="checkbox"><span class="check"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <a class="lien chargement-au-click" href="{% url 'module_support_select_log' item.id %}{% if isPopup %}?isPopup=1{% endif %}">{{ item.erreur|truncatechars:80 }}</a>
                                    </td>
                                    <td>{{item.modele|truncatechars:50}}</td>
                                    <td>{{item.creation_date|date:'d/m/Y H:i'}}</td>
                                    <td>{{item.auteur}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <!-- Vue de type card -->
                    <div id="kanban-view" class="row" style="margin-top: 10px; display: none;">
                        <div id="card-list" class="row" style="">
                            {% for item in model %}
                            <div class="col-md-4">
                                <div class="card-item" style="margin-top: 10px; margin-bottom: 15px">
                                    <div class="card-item-content">
                                        <div class="thumb">
                                        </div>
                                        <div class="texts">
                                            <a class="link chargement-au-click" href="{% url 'module_support_select_log' item.id %}{% if isPopup %}?isPopup=1{% endif %}">{{ item.erreur }}</a><br>
                                            <div class="mt-2"></div>
                                            <span class="inner-text">Créé par : {{ item.auteur.nom_complet }}</span><br>
                                            <span class="inner-text">Créé le : {{ item.creation_date|date:'d/m/Y' }}</span><br>
                                            <a href="{% url 'module_support_select_log' item.id %}{% if isPopup %}?isPopup=1{% endif %}" class="mt-3 btn btn-block btn-wide rounded chargement-au-click">voir detail</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<script>
    url_item = "{% url 'module_support_select_log' '100' %}";
    url_list = "{% url 'module_support_list_log' %}";

    function formatTableRow(url, item) {
        td = 
        `<td>
            <label class="small-check">
                <input type="checkbox"><span class="check"></span>
            </label>
        </td>
        <td>
            <a class="lien chargement-au-click" href="${url}">${ item.erreur }</a>
        </td>
        <td>${formatChar(item.modele)}</td>        
        <td>${formatDateTime(item.creation_date)}</td>
        <td>${formatChar(item.auteur)}</td>
        
        `;
        return td;
    }

    function formatKanbanRow(url, item) {
        card = 
        `
        <div class="col-md-4">
            <div class="card-item" style="margin-top: 10px; margin-bottom: 15px">
                <div class="card-item-content">
                    <div class="thumb">
                    </div>
                    <div class="texts">
                        <a class="link chargement-au-click" href="${url}">${ formatChar(item.erreur)}</a><br>
                        <div class="mt-2"></div>
                        <span class="inner-text">Créé par : ${formatChar(item.auteur)}</span><br>
                        <span class="inner-text">Créé le : ${formatDateTime(item.creation_date)}</span><br>
                        <a href="${url}" class="mt-3 btn btn-block btn-wide rounded chargement-au-click">voir detail</a>
                    </div>
                </div>
            </div>
        </div>
        `;
        return card;
    }
</script>
{% include 'ErpProject/ErpBackOffice/widget/list_view.html' %}
{% endblock %}
