
{% extends "ErpProject/ModuleStock/shared/layout.html" %}
{% block page %} {% load humanize %} {% load static %} {% load account_filters %}
{% if not isPopup %}
<div class="row">
    <ul class="breadcrumb">
        <li><a href="{% url 'backoffice_index' %}"><span class="mif-home"></span></a></li>
        <li><a class="chargement-au-click" href="{% url 'module_stock_index' %}">Module Stock</a></li>
        <li><a class="chargement-au-click" href="{% url 'module_stock_list_ajustement' %}">Liste des Inventaires</a></li>
        <li>{{ title }}</li>
    </ul>
</div>
{% endif %}

<div class="row">
    <div class="col-lg-12">
        <h2>{{ title }}</h2>

        <strong style="float: right;color: grey;opacity: 0.4;margin-top: -30px;">{% now "jS F Y H:i" %}</strong>
        <div class="separ" style="background-color: grey;opacity: 0.2"></div>

        <div class="panel panel-default" style="border: none; margin-top: 1rem;">
            <div class="panel panel-body" style="background-color:#f5f5f5;border: none;border-radius: none;">
                <div class="row">
                    <button onclick="javascript:document.getElementById('submit').click()" class="validate-btn theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}}">Valider</button>
                    {% if not isPopup %}
                    <button onclick="javascript:window.location.assign('{% url 'module_stock_get_upload_ajustement' %}')" class="theme-btn theme-btn-sm rounded chargement-au-click">Importer les données à partir excel</button>
                    <button onclick="javascript:window.location.assign('{% url 'module_stock_list_ajustement' %}')" class="theme-btn theme-btn-sm rounded" style="width: 20%;margin-left: 5px">Annuler</button>
                    {% endif %}
                </div>

                <hr class="hr-ligne">
                <!-- Appel de la fonction message -->
                {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}<br>

                <form id="form" method="POST" action="{% url 'module_stock_post_add_ajustement' %}"  enctype="multipart/form-data" data-role="validator" data-show-required-state="false" data-hint-mode="line" data-hint-background="bg-red" data-hint-color="fg-white" data-hide-error="5000"
                    novalidate="novalidate" data-on-error-input="notifyOnErrorInput" data-show-error-hint="false">
                    {% csrf_token %}
                    <input id="submit" type="submit" style="display: none">
                    {% if isPopup %}<input id="isPopup" name="isPopup" value="1" type="text" style="display: none">{% endif %}
                    <div class="row">
                        <ul>
                            <!-- {% for item in les_articles %}
                                <li>Bonjour {{item}}</li>
                            {% endfor %} -->
                        </ul>
                        <div class="col-md-6">
                            <label>Référence</label><span style='font-weight: bold; font-size: 14px; margin-left: 5px; color: red;'>*</span>
                            <div class="input-control text full-size" data-role="input">
                                <input name="reference" readonly style="background-color: #d9d9d9;" id="reference" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Date</label><span style='font-weight: bold; font-size: 14px; margin-left: 5px; color: red;'>*</span>
                            <div class="input-control text full-size datetimepicker">
                                <input type="text" name="date" id="date" value="{% now "d/m/Y H:i" %}">
                                <div class="button"><span class="glyphicon glyphicon-screenshot far fa-calendar" style="margin-right:3px;"></span><span class="glyphicon glyphicon-screenshot far fa-clock"></span></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Stockage</label><span style='font-weight: bold; font-size: 14px; margin-left: 5px; color: red;'>*</span>
                            <div class="input-control text full-size">
                                <select name="emplacement_id" id="emplacement_id" class="selectpicker form-control" title="Sélectionner une option" data-validate-func="required" data-validate-hint="selectionnez le champ stockage SVP !">
                                    <option value="">Sélectionnez une option</option>
                                    <option class="create_option" value='-100' data-url="/stock/emplacement/add?isPopup=1">Créer nouveau...</option>
                                    <option class="search_option" value='-200' data-url="/stock/emplacement/list?isPopup=1">Voir plus ...</option>
                                    {% for item in emplacements %}
                                        <option {% if item.id == 4 %} {{ "selected" }} {% endif %} value="{{ item.id }}">{{ item }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row row_formulaire" style="padding-left:3%;">
                        <div class="col-md-6">
                            <label class="radio radio-danger">
                                <input id="radio1" value="0" name="inventaire_de" checked type="radio">
                                <label for="radio1" class="caption">Tous les articles</label>
                                <span class="check"></span>
                            </label><br>

                            <label class="radio radio-danger" style="">
                                <input id="radio2" value="1" name="inventaire_de" type="radio">
                                <label for="radio2" class="caption">Une catégorie d'articles</label>
                                <span class="check"></span>
                            </label><br>

                            <label class="radio radio-danger">
                                <input id="radio3" value="2" name="inventaire_de" type="radio">
                                <label for="radio3" class="caption">Un article seulement</label>
                                <span class="check"></span>
                            </label><br>
                        </div>
                        <div class="col-md-6">
                            <div id="article_inventorie">
                                <label>Article</label>
                                <select name="article_id" id="article_id" class="selectpicker form-control" data-container="body" data-live-search="true" title="Choisir un article" data-hide-disabled="true">
                                    {% for item in les_articles %}
                                        <option value="{{ item.id }}"> {{ item }} </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div id="categorie_inventorie">
                                <label>Catégorie</label>
                                <select name="categorie_id" id="categorie_id" class="selectpicker form-control" data-container="body" data-live-search="true" title="Choisir une catégorie" data-hide-disabled="true">
                                    {% for item in categories %}
                                        <option value="{{ item.id }}"> {{ item }} </option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                    </div>
                </form>
            </div>




        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<script>
    url_item = "{% url 'module_stock_select_ajustement' '100' %}";

    $(document).ready(function(){
        $("#categorie_inventorie").hide();
        $("#article_inventorie").hide();

        $("input[name='inventaire_de']").change(function(){
            if($(this).val() == '0') {
                $("#categorie_inventorie").hide();
                $("#article_inventorie").hide();
            } else if ($(this).val() == '1') {
                $("#categorie_inventorie").show();
                $("#article_inventorie").hide();
                $("#article_id").val('');
            }else if ($(this).val() == '2') {
                $("#categorie_inventorie").hide();
                $("#article_inventorie").show();
                $("#categorie_id").val('');
            }
        });
    });
</script>
{% include 'ErpProject/ErpBackOffice/widget/create_view.html' %}
{% endblock %}