
{% extends "ErpProject/ModuleSupport/shared/layout.html" %}
{% block page %} {% load humanize %} {% load static %} {% load account_filters %}
{% if not isPopup %}
<div class="row">
    <ul class="breadcrumb">
        <li><a href="{% url 'backoffice_index' %}"><span class="mif-home"></span></a></li>
        <li><a class="chargement-au-click" href="{% url 'module_support_index' %}">Module Support</a></li>
        <li><a class="chargement-au-click" href="{% url 'module_support_list_historique_action' %}">Liste des Historiques Actions</a></li>
        <li>{{ title }}</li>
    </ul>
</div>
{% endif %}

<div class="row">
    <div class="col-lg-12">
        <h2>{{ title }}</h2>
        
        <strong style="float: right;color: grey;opacity: 0.4;margin-top: -30px;">{% now "jS F Y H:i" %}</strong>
        <div class="separ" style="background-color: grey;opacity: 0.2"></div>

        <div class="panel panel-default" style="border: none; margin-top: 1rem;">
            <div class="panel panel-body" style="background-color:#f5f5f5;border: none;border-radius: none;">
                <div class="row">
                    <button onclick="javascript:document.getElementById('submit').click()" class="validate-btn theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}}">Valider</button>
                    {% if not isPopup %}
                    <button onclick="javascript:window.location.assign('{% url 'module_support_get_upload_historique_action' %}')" class="theme-btn theme-btn-sm rounded chargement-au-click">Importer les données à partir excel</button>
                    <button onclick="javascript:window.location.assign('{% url 'module_support_list_historique_action' %}')" class="theme-btn theme-btn-sm rounded" style="width: 20%;margin-left: 5px">Annuler</button>
                    {% endif %}
                </div>

                <hr class="hr-ligne">
                <!-- Appel de la fonction message -->
                {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}<br>
                
                <form id="form" method="POST" action="{% url 'module_support_post_add_historique_action' %}"  enctype="multipart/form-data" data-role="validator" data-show-required-state="false" data-hint-mode="line" data-hint-background="bg-red" data-hint-color="fg-white" data-hide-error="5000"
                    novalidate="novalidate" data-on-error-input="notifyOnErrorInput" data-show-error-hint="false">
                    {% csrf_token %}
                    <input id="submit" type="submit" style="display: none">
                    {% if isPopup %}<input id="isPopup" name="isPopup" value="1" type="text" style="display: none">{% endif %}
                    <div class="row">
                        <div class="col-md-6">
                            <label>Valeur Avant</label>
                            <div class="input-control text full-size">
                                <textarea name="valeur_avant" id="valeur_avant" ></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Valeur Apres</label>
                            <div class="input-control text full-size">
                                <textarea name="valeur_apres" id="valeur_apres" ></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Modele</label>
                            <div class="input-control text full-size">
                                <textarea name="modele" id="modele" ></textarea>
                            </div>
                        </div>
                    </div>     
                    <br><br>
                    <div class="row">
                        <ul class="nav nav-tabs navtab-bg"> 
                            <li class="active"><a href="#frame_autres" data-toggle="tab" aria-expanded="false"><span>Autres informations</span></a></li>
                        </ul>
                        <div class="tab-content"> 
                            <div class="tab-pane active" id="frame_autres">
                                <div class="row margin20 no-margin-left no-margin-right">                                                                
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<script>
    url_item = "{% url 'module_support_select_historique_action' '100' %}";    
</script>
{% include 'ErpProject/ErpBackOffice/widget/create_view.html' %}
{% endblock %}