
{% extends "ErpProject/ModuleConfiguration/shared/layout.html" %}
{% block page %} {% load humanize %} {% load static %} {% load account_filters %}
{% if not isPopup %}
<div class="row">
    <ul class="breadcrumb">
        <li><a href="{% url 'backoffice_index' %}"><span class="mif-home"></span></a></li>
        <li><a class="chargement-au-click" href="{% url 'module_configuration_index' %}">Module Configuration</a></li>
        <li><a class="chargement-au-click" href="{% url 'module_configuration_list_contact' %}">Liste des Contacts</a></li>
        <li>{{ title }}</li>
    </ul>
</div>
{% endif %}

<div class="row">
    <div class="col-lg-12">
        <h2>{{ title }}</h2>
        
        <strong style="float: right;color: grey;opacity: 0.4;margin-top: -30px;">{% now "jS F Y H:i" %}</strong>
        <div class="separ" style="background-color: grey;opacity: 0.2"></div>

        <div class="panel panel-default" style="border: none; margin-top: 1rem;">
            <div class="panel panel-body" style="background-color:#f5f5f5;border: none;border-radius: none;">
                <div class="row">
                    <button onclick="javascript:document.getElementById('submit').click()" class="validate-btn theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}}">Valider</button>
                    {% if not isPopup %}
                    <button onclick="javascript:window.location.assign('{% url 'module_configuration_get_upload_contact' %}')" class="theme-btn theme-btn-sm rounded chargement-au-click">Importer les données à partir excel</button>
                    <button onclick="javascript:window.location.assign('{% url 'module_configuration_list_contact' %}')" class="theme-btn theme-btn-sm rounded" style="width: 20%;margin-left: 5px">Annuler</button>
                    {% endif %}
                </div>

                <hr class="hr-ligne">
                <!-- Appel de la fonction message -->
                {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}<br>
                
                <form id="form" method="POST" action="{% url 'module_configuration_post_add_contact' %}"  enctype="multipart/form-data" data-role="validator" data-show-required-state="false" data-hint-mode="line" data-hint-background="bg-red" data-hint-color="fg-white" data-hide-error="5000"
                    novalidate="novalidate" data-on-error-input="notifyOnErrorInput" data-show-error-hint="false">
                    {% csrf_token %}
                    <input id="submit" type="submit" style="display: none">
                    {% if isPopup %}<input id="isPopup" name="isPopup" value="1" type="text" style="display: none">{% endif %}
                    <div class="row">
                        <div class="col-md-6">
                            <label>Noms</label><span style='font-weight: bold; font-size: 14px; margin-left: 5px; color: red;'>*</span>
                            <div class="input-control text full-size" data-role="input">
                                <input name="name" id="name" type="text" data-validate-func="required" data-validate-hint="Saisissez le champ Noms SVP !">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Type Personne</label>
                            <div class="input-control text full-size">                                
                                <select name="type" id="type" class="selectpicker form-control" title="Sélectionner une option">
                                    <option value="">Sélectionnez une option</option>
                                    {% for item in model.list_type %}<option value="{{ item.id }}">{{ item.designation }}</option>{% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Nature</label>
                            <div class="input-control text full-size" data-role="input">
                                <input name="nature" id="nature" type="text" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Courriel</label>
                            <div class="input-control email full-size" data-role="input">
                                <input name="email" id="email" type="email" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Site web</label>
                            <div class="input-control text full-size" data-role="input">
                                <input name="siteweb" id="siteweb" type="text" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Fonction</label>
                            <div class="input-control text full-size" data-role="input">
                                <input name="function" id="function" type="text" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Pays</label>
                            <div class="input-control text full-size">                                
                                <select name="country_id" id="country_id" class="selectpicker form-control" title="Sélectionner une option">
                                    <option value="">Sélectionnez une option</option>
                                    <option class="create_option" value='-100' data-url="/configurationdashboard/pays/add?isPopup=1">Créer nouveau...</option>
                                    <option class="search_option" value='-200' data-url="/configurationdashboard/pays/list?isPopup=1">Voir plus ...</option>
                                    {% for item in payss %}<option value="{{ item.id }}">{{ item }}</option>{% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Province</label>
                            <div class="input-control text full-size">                                
                                <select name="adress_state_id" id="adress_state_id" class="selectpicker form-control" title="Sélectionner une option">
                                    <option value="">Sélectionnez une option</option>
                                    <option class="create_option" value='-100' data-url="/configurationdashboard/province/add?isPopup=1">Créer nouveau...</option>
                                    <option class="search_option" value='-200' data-url="/configurationdashboard/province/list?isPopup=1">Voir plus ...</option>
                                    {% for item in provinces %}<option value="{{ item.id }}">{{ item }}</option>{% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Ville</label>
                            <div class="input-control text full-size">                                
                                <select name="adress_city_id" id="adress_city_id" class="selectpicker form-control" title="Sélectionner une option">
                                    <option value="">Sélectionnez une option</option>
                                    <option class="create_option" value='-100' data-url="/configurationdashboard/ville/add?isPopup=1">Créer nouveau...</option>
                                    <option class="search_option" value='-200' data-url="/configurationdashboard/ville/list?isPopup=1">Voir plus ...</option>
                                    {% for item in villes %}<option value="{{ item.id }}">{{ item }}</option>{% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Adresse ligne 1</label>
                            <div class="input-control text full-size" data-role="input">
                                <input name="adress_line1" id="adress_line1" type="text" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Adresse ligne 2</label>
                            <div class="input-control text full-size" data-role="input">
                                <input name="adress_line2" id="adress_line2" type="text" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Téléphone</label>
                            <div class="input-control text full-size" data-role="input">
                                <input name="phone_number" id="phone_number" type="text" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Mobile</label>
                            <div class="input-control text full-size" data-role="input">
                                <input name="phone_number_2" id="phone_number_2" type="text" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Code Postal</label>
                            <div class="input-control text full-size" data-role="input">
                                <input name="code_postal" id="code_postal" type="text" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Autres informations</label>
                            <div class="input-control text full-size">
                                <textarea name="description" id="description" ></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Société</label>
                            <div class="input-control text full-size">                                
                                <select name="societe_id" id="societe_id" class="selectpicker form-control" title="Sélectionner une option">
                                    <option value="">Sélectionnez une option</option>
                                    <option class="create_option" value='-100' data-url="/configurationdashboard/societe/add?isPopup=1">Créer nouveau...</option>
                                    <option class="search_option" value='-200' data-url="/configurationdashboard/societe/list?isPopup=1">Voir plus ...</option>
                                    {% for item in societes %}<option value="{{ item.id }}">{{ item }}</option>{% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Autres adresse</label>
                            <div class="text full-size">
                                <select multiple="multiple" class="multi-select multi_select2" name="autres_adresses" id="autres_adresses">
                                    {% for item in adresses %}<option value="{{ item.id }}">{{item}}</option>{% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>     
                    <br><br>
                    <div class="row">
                        <ul class="nav nav-tabs navtab-bg"> 
                            <li class="active"><a href="#frame_autres" data-toggle="tab" aria-expanded="false"><span>Autres informations</span></a></li>
                        </ul>
                        <div class="tab-content"> 
                            <div class="tab-pane active" id="frame_autres">
                                <div class="row margin20 no-margin-left no-margin-right">                                                                
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<script>
    url_item = "{% url 'module_configuration_select_contact' '100' %}";    
</script>
{% include 'ErpProject/ErpBackOffice/widget/create_view.html' %}
{% endblock %}