
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="description" content="{{ title }}">
        <meta name="author" content="MelodyERP">
    </head>
    {% load static %}{% load account_filters %}{% load humanize %}

    <body>       
        <div id="report">
            <h2 class="align-center header">{{ title }}</h2>
            <span class="date-text">Le {% now " d/m/Y" %}</span>
            <div class="row">
                <div class="col-md-6">
                    <p>Erreur :<br>
                        <span class="sub-alt-header">{{ model.erreur }}</span>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>Modele :<br>
                        <span class="sub-alt-header">{{ model.modele }}</span>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
