
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="description" content="{{ title }}">
        <meta name="author" content="MelodyERP">
    </head>
    {% load static %}{% load account_filters %}{% load humanize %}

    <body>       
        <div id="report">
            <h2 class="align-center header">{{ title }}</h2>
            <span class="date-text">Le {% now " d/m/Y" %}</span>
            <div class="row">
                <div class="col-md-6">
                    <p>Designation :<br>
                        <span class="sub-alt-header">{{ model.designation }}</span>
                    </p>
                </div>
                <div class="col-md-6">
                    <label class="input-control checkbox small-check full-size">
                        <input name="est_service" id="est_service"  {% if model.est_service is True %}{{ "checked" }}{% endif %} type="checkbox" disabled="disabled">
                        <span class="check"></span>
                        <span class="caption">Est service</span>
                    </label>
                </div>
                <div class="col-md-6">
                    <p>Société :<br>
                        {% if model.societe is None %}
                        <span class="sub-alt-header"> - </span>
                        {% else %}
                        <span class="sub-alt-header">{{ model.societe }}</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
