
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="description" content="{{ title }}">
        <meta name="author" content="MelodyERP">
    </head>
    {% load static %}{% load account_filters %}{% load humanize %}

    <body>       
        <div id="report">
            <h2 class="align-center header">{{ title }}</h2>
            <span class="date-text">Le {% now " d/m/Y" %}</span>
            <div class="row">
                <div class="col-md-6">
                    <p>Quantité :<br>
                        <span class="sub-alt-header">{{model.quantite_demandee|monetary}}</span>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>Quantité Sortie :<br>
                        <span class="sub-alt-header">{{model.quantite_sortie|monetary}}</span>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>Numéros de serie :<br>
                        {% if model.serie is None %}
                        <span class="sub-alt-header"> - </span>
                        {% else %}
                        <span class="sub-alt-header">{{ model.serie }}</span>
                        {% endif %}
                    </p>
                </div>
                <div class="col-md-6">
                    <p>description :<br>
                        <span class="sub-alt-header">{{ model.description }}</span>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>Bon_transfert :<br>
                        {% if model.bon_sortie is None %}
                        <span class="sub-alt-header"> - </span>
                        {% else %}
                        <span class="sub-alt-header">{{ model.bon_sortie }}</span>
                        {% endif %}
                    </p>
                </div>
                <div class="col-md-6">
                    <p>Article :<br>
                        {% if model.article is None %}
                        <span class="sub-alt-header"> - </span>
                        {% else %}
                        <span class="sub-alt-header">{{ model.article }}</span>
                        {% endif %}
                    </p>
                </div>
                <div class="col-md-6">
                    <p>stockage :<br>
                        {% if model.stockage is None %}
                        <span class="sub-alt-header"> - </span>
                        {% else %}
                        <span class="sub-alt-header">{{ model.stockage }}</span>
                        {% endif %}
                    </p>
                </div>
                <div class="col-md-6">
                    <p>Société :<br>
                        {% if model.societe is None %}
                        <span class="sub-alt-header"> - </span>
                        {% else %}
                        <span class="sub-alt-header">{{ model.societe }}</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
