
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="description" content="{{ title }}">
        <meta name="author" content="MelodyERP">
    </head>
    {% load static %}{% load account_filters %}{% load humanize %}

    <body>       
        <div id="report">
            <h2 class="align-center header">{{ title }}</h2>
            <span class="date-text">Le {% now " d/m/Y" %}</span>
            <div class="row">
                <div class="col-md-6">
                    <p>Désignation :<br>
                        <span class="sub-alt-header">{{ model.name }}</span>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>Périodicité :<br>
                        <span class="sub-alt-header">{{ model.value_periodicite }}</span>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>Nombre par exercice :<br>
                        <span class="sub-alt-header">{{ model.nombre_par_exercice }}</span>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>Description :<br>
                        <span class="sub-alt-header">{{ model.description }}</span>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>Société :<br>
                        {% if model.societe is None %}
                        <span class="sub-alt-header"> - </span>
                        {% else %}
                        <span class="sub-alt-header">{{ model.societe }}</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
